html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {

    background-image: url('../img/main.svg');
    background-size: 900px 900px;
    background-repeat: no-repeat;
    background-position: 120% -5%;

    background-color: #FFFFFF;
    font-family: 'Playfair Display', serif;
}

/* .form-wrap{
    margin: 0 auto;
    width: 85%;
    height: 900px;
    background: #FBFBFB;
    
    padding-top: 90px;
    padding-bottom: 60px;
} */

.bar {
    margin:  30px 135px 30px 10%;;
    display: flex;
    flex-wrap: wrap;
}

.logo_img {
    width: 130px;
    height: 130px;
}

input[ name='registration'] {
    margin:45px 0px 45px 700px;
    width: 290px;
    height: 40px;

    border: 3px solid #1A3263;
    box-sizing: border-box;
    background-color: rgba(0, 50, 50, 0);
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    align-items: center;
    letter-spacing: 0.02em;

    color: #1A3263;
}

input[name='avtorization'] {
    margin:45px 0px 45px 20px;
    display: block;
    width: 170px;
    height: 40px;

    background: #FAB95B;
    border:none;
    /* border: 3px solid #1A3263;
    box-sizing: border-box; */
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    align-items: center;
    letter-spacing: 0.02em;

    color: #1A3263;
}

.text {
    margin-left: 10%;

    width: 760px;
    height: 330px;
    background: #6AC9FF;

}

/*  background-size: cover cover;
    background-repeat: no-repeat;
     background: url('../img/text_back.svg') 100% 100% no-repeat; 
    background-size: cover; */

h1 {
    padding: 35px 40px 35px 35px;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 55px;
    letter-spacing: 0.04em;

    color: #1A3263;
}

.new_note {
    margin-left: 10%;
    margin-top: 40px;

    padding: 3px;
    width: 320px;
    height: 45px;

    background: #FF7474;
    border:none;
    /* border: 3px solid #1A3263; */
    /* box-sizing: border-box; */

    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 62px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;

    color: #1A3263;
}

img {
    margin-left: 10px;
    margin-right: 20px;

    width: 25px;
    height: 25px;
}

input[type="button"] {}

input[type="button"]:hover,
.new_note:hover {
    transform: scale(1.05);
}
