<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content</title>

    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style_content.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/style_content.css' %}">
     <link rel="stylesheet" href="{% static 'css/reset.css' %}">
</head>

<body>
    <div class="form-wrap">
        <div class="bar">
            <img class="logo_img" src="../static/img/logo.svg" alt="lkft">

            <input type="text" name="search" placeholder="Искать здесь...">
            <button name="but" type="submit"></button>
            
            <input name='exit' type='button' onclick="location.href='./' " value='Выйти'>
        </div>

        <div class="user_name">
            <img class="user_img" src="../static/img/ikon1.svg" alt="lkft">
            <h1>{{ request.user.username }}</h1>
        </div>

        <a onclick="location.href='Nodes'">
            <img class="back" src="../static/img/back.svg"  alt="lkft">
        </a>
        <h2>Название категории</h2>

        <input type="text" id="note_name" name="note_name" required placeholder="Название заметки" required>
        
        <textarea rows="20" cols="140" name="note" id="note" placeholder="Начните писать..."></textarea>
        <input class="custom-checkbox" type="checkbox" id="share" /><label  for="share">Доступно всем</label>

        <div class="funtion">
            <input type="submit" value="Сохранить" onclick="location.href='Nodes' " name="add">
            <input name="delete" type='submit' onclick="location.href='Nodes' " value='Удалить'>
        </div>
    </div>

</body>

</html>