<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>


  <link rel="stylesheet" href="static/css/reset.css">
  <link rel="stylesheet" href="static/css/style_i.css">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style_i.css' %}">
     <link rel="stylesheet" href="{% static 'css/reset.css' %}">
</head>

<body>

  <div class="form-wrap">

    <h1>Регистрация</h1>


    <form method="post">
        {% csrf_token %}
        <table>{{ form }}</table>


      <input value="Зарегистрироваться" type="submit">

      <div class="autorization">
        Уже есть аккаунт?
        <a href="{% url 'login' %}">Войти </a>
    </div>
    </form>
  </div>
</body>

</html>
